* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
    font-size: 12px;
}

#mount-point{
    width: 500px;
}

.input-typeahead {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    padding-left: 0.5em;
    line-height: 2em;
}

.results{
    width: 100%;
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.results.hide{
    display: none;
}

.results > li{

}

.results > li > img{
    width: 30px;
    height: 30px;
}
